html,body{
  margin: 0;
  padding: 0;
}
.welcome-con{
  background-image: url('./assets/imgs/banner.jpeg');
}
.article-con{
  position:relative;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
}
.hoverTab:hover{
  color: #1b4894 !important;
}